##################################################################################################
# Regression Configuration cho RISC-V CPU Core
##################################################################################################

# Compilation option for all testcase (Not supported yet)
cmp_opts =

# Coverage option: on | off (Not supported yet)
cov = on

# Dump wave option: on | off (Not supported yet)
wave = on

# Từ khóa kiểm tra Pass trong file log (Khớp với báo cáo của Scoreboard)
pass_key_word = "[ PASSED ]"

# Từ khóa kiểm tra Fail trong file log (Khớp với báo cáo của Scoreboard)
fail_key_word = "[ FAILED ]"

# Set verbosity option for testbench (Not supported yet)
pl = UVM_LOW

tc_list {
    basic_pass_through_test   , run_times=1 , run_opts= ;
    ALU_store_test            , run_times=1 , run_opts= ;
    load_use_hazard_test      , run_times=1 , run_opts= ;
    ALU_forwarding_test       , run_times=1 , run_opts= ;
    store_data_hazard_test    , run_times=1 , run_opts= ;
    control_hazard_test       , run_times=1 , run_opts= ;
    load_then_add_test        , run_times=1 , run_opts= ;
}